body{
    font-size:1.2rem;
    width:100%;
    margin:0 auto;
    letter-spacing: 0.5px;
}

#container {
    background:linear-gradient(-45deg, pink, red);
    padding: 1.5rem;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

div {
    line-height:2.5rem;
}

/* [type="text"] is a specific target */
input[type="text"] {
    font-size:1.1rem;
    text-align:center;
}

label, input {
    width:100%;
}

/* media breakpoint query */
@media(min-width: 900px) {
    body{
        width:60%;
        background:url(#) no-repeat center center fixed;
        background-size:cover;
        margin-top:20px;
    }

    #container {
        opacity:0.9;
    }

    label, input {
        display:inline-block;
        width:40%;
}

div {
    line-height: 4rem;
}
}
